In [1]:
# import library
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
import plotly.express as px 
from datetime import datetime
import os
%matplotlib inline

In [2]:
# tabel setting
# pd.set_option('display.max_columns',None)
# pd.set_option('display.max_rows',None)
# pd.set_option('display.precision', 2)
# pd.options.display.float_format = '{:,.2f}'.format

# Import Dataset

In [3]:
dataset_dir = './Dataset/NCC-2 Dataset Simultaneous Botnet Dataset/'
sensor1_path = dataset_dir + 'sensor1/'
sensor1_path = dataset_dir + 'sensor1/'
sensor1_path = dataset_dir + 'sensor1/'
allsensor_path = dataset_dir + 'all-sensors/'

In [4]:
os.listdir(sensor1_path)

['sensor1-activityAnalysisPerMinutes-botnetOnly.png',
 'sensor1-activityAnalysisPerMinutes.png',
 'sensor1-acumulatedonHour-botnetOnly.png',
 'sensor1-acumulatedonHour.png',
 'sensor1-description.txt',
 'sensor1.binetflow',
 'sensor1_botnet-only.binetflow',
 'sensor1_normal-only.binetflow']

# Sensor 1 .binetflow

In [5]:
# df1 -> all, df2 -> botnet only, df3 -> normal only
sensor1 = pd.read_csv(sensor1_path + 'sensor1.binetflow')

In [6]:
sensor1.shape

(4895158, 18)

In [7]:
sensor1.columns

Index(['StartTime', 'Dur', 'Proto', 'SrcAddr', 'Sport', 'Dir', 'DstAddr',
       'Dport', 'State', 'sTos', 'dTos', 'TotPkts', 'TotBytes', 'SrcBytes',
       'Label', 'ActivityLabel', 'BotnetName', 'SensorId'],
      dtype='object')

In [8]:
sensor1.dtypes

StartTime         object
Dur              float64
Proto             object
SrcAddr           object
Sport             object
Dir               object
DstAddr           object
Dport             object
State             object
sTos             float64
dTos             float64
TotPkts            int64
TotBytes           int64
SrcBytes           int64
Label             object
ActivityLabel      int64
BotnetName        object
SensorId           int64
dtype: object

In [9]:
sensor1.head()

,StartTime,Dur,Proto,SrcAddr,Sport,Dir,DstAddr,Dport,State,sTos,dTos,TotPkts,TotBytes,SrcBytes,Label,ActivityLabel,BotnetName,SensorId
0,2022-07-07 09:00:00,0.000000,icmp,147.32.84.165,0x0303,->,202.103.52.147,0xc413,URP,0.0,NaN,1,190,190,flow=From-Botnet-V44-ICMP,1,rbot,1
1,2022-07-07 09:00:00,0.000279,udp,147.32.84.138,48579,<->,147.32.80.9,53,CON,0.0,0.0,2,214,81,flow=To-Background-UDP-CVUT-DNS-Server,0,-,1
2,2022-07-07 09:00:00,0.000237,udp,147.32.84.138,54107,<->,147.32.80.9,53,CON,0.0,0.0,2,214,81,flow=To-Background-UDP-CVUT-DNS-Server,0,-,1
3,2022-07-07 09:00:00,3075.341553,udp,93.97.178.23,14899,<->,147.32.84.229,13363,CON,0.0,0.0,8,956,708,flow=Background-UDP-Established,0,-,1
4,2022-07-07 09:00:00,0.000232,udp,147.32.84.138,38233,<->,147.32.80.9,53,CON,0.0,0.0,2,214,81,flow=To-Background-UDP-CVUT-DNS-Server,0,-,1

In [10]:
sensor1_cat = sensor1.select_dtypes('object')
sensor1_num = sensor1.select_dtypes(['int64', 'float64'])

In [11]:
print('Kolom Categorical :', sensor1_cat.columns.value_counts().count())
print('Kolom Numerical :', sensor1_num.columns.value_counts().count())

Kolom Categorical : 10
Kolom Numerical : 8

In [12]:
del sensor1_cat, sensor1_num

## Check Missing Value

In [13]:
# Cek Missing Data
total_missing = sensor1.isnull().sum().sort_values(ascending=False)
percent_1 = sensor1.isnull().sum()/sensor1.isnull().count()*100
percent_2 = (round(percent_1, 1)).sort_values(ascending=False)
missing_data = pd.concat([total_missing, percent_2], axis=1, keys=['Total Missing', '%'])
missing_data = missing_data.reset_index().rename(columns={'index': 'Column'})
missing_data

           Column  Total Missing    %
0            dTos         368201  7.5
1            sTos          37746  0.8
2           Sport          30526  0.6
3           Dport          22658  0.5
4           State            149  0.0
5         TotPkts              0  0.0
6      BotnetName              0  0.0
7   ActivityLabel              0  0.0
8           Label              0  0.0
9        SrcBytes              0  0.0
10       TotBytes              0  0.0
11      StartTime              0  0.0
12            Dur              0  0.0
13        DstAddr              0  0.0
14            Dir              0  0.0
15        SrcAddr              0  0.0
16          Proto              0  0.0
17       SensorId              0  0.0

## Cek Kolom

### Start Time

In [14]:
pd.DataFrame(sensor1['StartTime'].value_counts()).reset_index()

                 StartTime  count
0      2022-07-07 09:32:20   4402
1      2022-07-07 09:32:06   4376
2      2022-07-07 09:32:17   4240
3      2022-07-07 09:32:11   4224
4      2022-07-07 09:32:18   4214
...                    ...    ...
28796  2022-07-07 16:59:20      4
28797  2022-07-07 16:59:01      4
28798  2022-07-07 16:02:30      4
28799  2022-07-07 15:59:56      3
28800  2022-07-07 16:55:08      3

[28801 rows x 2 columns]

### Dir

In [15]:
pd.DataFrame(sensor1['Dir'].value_counts()).reset_index()

     Dir    count
0    <->  3489639
1     ->  1345255
2     <-    27244
3    <?>    21725
4     ?>     9735
5    who     1555
6     <?        5

### State

In [16]:
pd.DataFrame(sensor1['State'].value_counts()).reset_index()

         State    count
0          CON  3486636
1    FSPA_FSPA   523201
2          INT   170479
3           S_   100416
4         S_RA    79296
..         ...      ...
356     RA_SPA        1
357    FSRA_PA        1
358     SR_FPA        1
359      SRA_A        1
360        RTS        1

[361 rows x 2 columns]

### BotNet Name

In [17]:
pd.DataFrame(sensor1['BotnetName'].value_counts()).reset_index()

  BotnetName    count
0          -  4749158
1       rbot    62000
2      neris    47000
3      virut    19000
4      sogou     9000
5    nsis.ay     9000

### SrcAddr

In [18]:
pd.DataFrame(sensor1['SrcAddr'].value_counts()).reset_index()

               SrcAddr   count
0        147.32.84.138  827937
1         147.32.84.59  578141
2        147.32.84.229  229220
3         147.32.85.25  156971
4         147.32.86.20  103255
...                ...     ...
723630     82.4.17.186       1
723631    87.79.138.71       1
723632   84.153.195.46       1
723633  213.91.240.120       1
723634    24.71.151.41       1

[723635 rows x 2 columns]

### DstAddr

In [19]:
pd.DataFrame(sensor1['DstAddr'].value_counts()).reset_index()

                DstAddr    count
0           147.32.80.9  1827839
1         147.32.84.229  1339045
2         147.32.85.100    71695
3          147.32.80.13    48711
4          147.32.84.59    29295
...                 ...      ...
202812  117.199.107.126        1
202813    110.161.45.18        1
202814    220.137.1.190        1
202815    98.14.155.185        1
202816   201.42.197.168        1

[202817 rows x 2 columns]

### Proto

In [20]:
pd.DataFrame(sensor1['Proto'].value_counts()).reset_index()

        Proto    count
0         udp  3645123
1         tcp  1131853
2        icmp   103926
3        igmp     5785
4         rtp     3495
5        rtcp     3083
6         arp     1549
7   ipv6-icmp      184
8        ipv6       43
9     ipx/spx       39
10        pim       23
11        esp       22
12        udt       19
13       rarp        6
14        llc        5
15       unas        3

### Sport

In [21]:
pd.DataFrame(sensor1['Sport'].value_counts()).reset_index()

        Sport   count
0       13363  228176
1      0x0303   47511
2          80   17105
3       12200   11124
4        1025   10888
...       ...     ...
73648  0x92c0       1
73649  0x567d       1
73650  0xa92b       1
73651  0x2c6c       1
73652  0xe3d4       1

[73653 rows x 2 columns]

### Dport

In [22]:
pd.DataFrame(sensor1['Dport'].value_counts()).reset_index()

        Dport    count
0          53  1853771
1       13363  1275485
2          80   651601
3         443   145498
4        6881    45280
...       ...      ...
81763  0xacfb        1
81764  0x6df2        1
81765  0x44c3        1
81766  0x33e5        1
81767  0x78e3        1

[81768 rows x 2 columns]

### dTos

In [23]:
pd.DataFrame(sensor1['dTos'].value_counts()).reset_index()

   dTos    count
0   0.0  4526165
1   2.0      390
2   3.0      349
3   1.0       53

### sTos

In [24]:
pd.DataFrame(sensor1['sTos'].value_counts()).reset_index()

    sTos    count
0    0.0  4852321
1    2.0     1568
2    3.0     1536
3  192.0     1220
4    1.0      767

## Labeling

In [25]:
pd.DataFrame(sensor1['Label'].value_counts()).reset_index()

                                        Label    count
0      flow=To-Background-UDP-CVUT-DNS-Server  1786049
1             flow=Background-UDP-Established  1567280
2             flow=Background-TCP-Established   512449
3      flow=Background-Established-cmpgw-CVUT   289684
4                 flow=Background-TCP-Attempt   154194
..                                        ...      ...
151        flow=Normal-V44-HTTP-windowsupdate        5
152        flow=Normal-V51-HTTP-windowsupdate        5
153        flow=From-Normal-V51-MatLab-Server        4
154  flow=From-Normal-V53-UDP-CVUT-DNS-Server        3
155         flow=To-Normal-V53-UDP-NTP-server        2

[156 rows x 2 columns]

In [26]:
def categorize_label(label):
    label = label.lower()  
    if 'botnet' in label and 'spam' in label:
        return 2
    elif 'botnet' in label:
        return 1
    else:
        return 0

In [27]:
sensor1['Label'] = sensor1['Label'].apply(categorize_label)

In [28]:
sensor1.head()

,StartTime,Dur,Proto,SrcAddr,Sport,Dir,DstAddr,Dport,State,sTos,dTos,TotPkts,TotBytes,SrcBytes,Label,ActivityLabel,BotnetName,SensorId
0,2022-07-07 09:00:00,0.000000,icmp,147.32.84.165,0x0303,->,202.103.52.147,0xc413,URP,0.0,NaN,1,190,190,1,1,rbot,1
1,2022-07-07 09:00:00,0.000279,udp,147.32.84.138,48579,<->,147.32.80.9,53,CON,0.0,0.0,2,214,81,0,0,-,1
2,2022-07-07 09:00:00,0.000237,udp,147.32.84.138,54107,<->,147.32.80.9,53,CON,0.0,0.0,2,214,81,0,0,-,1
3,2022-07-07 09:00:00,3075.341553,udp,93.97.178.23,14899,<->,147.32.84.229,13363,CON,0.0,0.0,8,956,708,0,0,-,1
4,2022-07-07 09:00:00,0.000232,udp,147.32.84.138,38233,<->,147.32.80.9,53,CON,0.0,0.0,2,214,81,0,0,-,1

In [29]:
sensor1['Label'].value_counts()

Label
0    4749158
1     140000
2       6000
Name: count, dtype: int64

## Cleaning Data

### Drop Duplicates

In [30]:
sensor1 = sensor1.drop_duplicates()

In [31]:
sensor1.shape

(4894020, 18)

### Drop dTos

In [32]:
cek = sensor1[(sensor1['dTos'].isnull())]

In [33]:
cek['Label'].value_counts()

Label
0    337009
1     27957
2      2999
Name: count, dtype: int64

In [34]:
cek = cek[cek['Label'] == 0]

In [35]:
cek['Label'].value_counts()

Label
0    337009
Name: count, dtype: int64

In [36]:
sensor1 = sensor1.drop(cek.index)

In [37]:
# Cek Missing Data
total_missing = sensor1.isnull().sum().sort_values(ascending=False)
percent_1 = sensor1.isnull().sum()/sensor1.isnull().count()*100
percent_2 = (round(percent_1, 1)).sort_values(ascending=False)
missing_data = pd.concat([total_missing, percent_2], axis=1, keys=['Total Missing', '%'])
missing_data = missing_data.reset_index().rename(columns={'index': 'Column'})
missing_data

           Column  Total Missing    %
0            sTos          36136  0.8
1            dTos          30956  0.7
2           Sport          23029  0.5
3           Dport          10301  0.2
4           State            147  0.0
5         TotPkts              0  0.0
6      BotnetName              0  0.0
7   ActivityLabel              0  0.0
8           Label              0  0.0
9        SrcBytes              0  0.0
10       TotBytes              0  0.0
11      StartTime              0  0.0
12            Dur              0  0.0
13        DstAddr              0  0.0
14            Dir              0  0.0
15        SrcAddr              0  0.0
16          Proto              0  0.0
17       SensorId              0  0.0

### Drop sTos

In [38]:
cek = sensor1[(sensor1['sTos'].isnull())]

In [39]:
cek['Label'].value_counts()

Label
0    36136
Name: count, dtype: int64

In [40]:
sensor1 = sensor1.drop(cek.index)

In [41]:
# Cek Missing Data
total_missing = sensor1.isnull().sum().sort_values(ascending=False)
percent_1 = sensor1.isnull().sum()/sensor1.isnull().count()*100
percent_2 = (round(percent_1, 1)).sort_values(ascending=False)
missing_data = pd.concat([total_missing, percent_2], axis=1, keys=['Total Missing', '%'])
missing_data = missing_data.reset_index().rename(columns={'index': 'Column'})
missing_data

           Column  Total Missing    %
0            dTos          30956  0.7
1           Dport          10224  0.2
2           Sport            681  0.0
3           State            147  0.0
4       StartTime              0  0.0
5         TotPkts              0  0.0
6      BotnetName              0  0.0
7   ActivityLabel              0  0.0
8           Label              0  0.0
9        SrcBytes              0  0.0
10       TotBytes              0  0.0
11           sTos              0  0.0
12            Dur              0  0.0
13        DstAddr              0  0.0
14            Dir              0  0.0
15        SrcAddr              0  0.0
16          Proto              0  0.0
17       SensorId              0  0.0

### Drop Dport

In [42]:
cek = sensor1[sensor1['Dport'].isnull()]

In [43]:
cek['Label'].value_counts()

Label
1    10200
0       24
Name: count, dtype: int64

In [44]:
cek = cek[cek['Label'] == 0]

In [45]:
cek['Label'].value_counts()

Label
0    24
Name: count, dtype: int64

In [46]:
sensor1 = sensor1.drop(cek.index)

In [47]:
# Cek Missing Data
total_missing = sensor1.isnull().sum().sort_values(ascending=False)
percent_1 = sensor1.isnull().sum()/sensor1.isnull().count()*100
percent_2 = (round(percent_1, 1)).sort_values(ascending=False)
missing_data = pd.concat([total_missing, percent_2], axis=1, keys=['Total Missing', '%'])
missing_data = missing_data.reset_index().rename(columns={'index': 'Column'})
missing_data

           Column  Total Missing    %
0            dTos          30956  0.7
1           Dport          10200  0.2
2           Sport            665  0.0
3           State            147  0.0
4       StartTime              0  0.0
5         TotPkts              0  0.0
6      BotnetName              0  0.0
7   ActivityLabel              0  0.0
8           Label              0  0.0
9        SrcBytes              0  0.0
10       TotBytes              0  0.0
11           sTos              0  0.0
12            Dur              0  0.0
13        DstAddr              0  0.0
14            Dir              0  0.0
15        SrcAddr              0  0.0
16          Proto              0  0.0
17       SensorId              0  0.0

### Drop Sport

In [48]:
cek = sensor1[sensor1['Sport'].isnull()]

In [49]:
cek['Label'].value_counts()

Label
1    665
Name: count, dtype: int64

In [50]:
# cek = cek[cek['Label'] == 0]

In [51]:
# cek['Label'].value_counts()

In [52]:
# sensor1 = sensor1.drop(cek.index)

In [53]:
# Cek Missing Data
total_missing = sensor1.isnull().sum().sort_values(ascending=False)
percent_1 = sensor1.isnull().sum()/sensor1.isnull().count()*100
percent_2 = (round(percent_1, 1)).sort_values(ascending=False)
missing_data = pd.concat([total_missing, percent_2], axis=1, keys=['Total Missing', '%'])
missing_data = missing_data.reset_index().rename(columns={'index': 'Column'})
missing_data

           Column  Total Missing    %
0            dTos          30956  0.7
1           Dport          10200  0.2
2           Sport            665  0.0
3           State            147  0.0
4       StartTime              0  0.0
5         TotPkts              0  0.0
6      BotnetName              0  0.0
7   ActivityLabel              0  0.0
8           Label              0  0.0
9        SrcBytes              0  0.0
10       TotBytes              0  0.0
11           sTos              0  0.0
12            Dur              0  0.0
13        DstAddr              0  0.0
14            Dir              0  0.0
15        SrcAddr              0  0.0
16          Proto              0  0.0
17       SensorId              0  0.0

### Drop State

In [54]:
cek = sensor1[sensor1['State'].isnull()]

In [55]:
cek['Label'].value_counts()

Label
1    147
Name: count, dtype: int64

In [56]:
# Cek Missing Data
total_missing = sensor1.isnull().sum().sort_values(ascending=False)
percent_1 = sensor1.isnull().sum()/sensor1.isnull().count()*100
percent_2 = (round(percent_1, 1)).sort_values(ascending=False)
missing_data = pd.concat([total_missing, percent_2], axis=1, keys=['Total Missing', '%'])
missing_data = missing_data.reset_index().rename(columns={'index': 'Column'})
missing_data

           Column  Total Missing    %
0            dTos          30956  0.7
1           Dport          10200  0.2
2           Sport            665  0.0
3           State            147  0.0
4       StartTime              0  0.0
5         TotPkts              0  0.0
6      BotnetName              0  0.0
7   ActivityLabel              0  0.0
8           Label              0  0.0
9        SrcBytes              0  0.0
10       TotBytes              0  0.0
11           sTos              0  0.0
12            Dur              0  0.0
13        DstAddr              0  0.0
14            Dir              0  0.0
15        SrcAddr              0  0.0
16          Proto              0  0.0
17       SensorId              0  0.0

## Imputing

### dTos

In [57]:
sensor1['dTos'].value_counts()

dTos
0.0    4489103
2.0        390
3.0        349
1.0         53
Name: count, dtype: int64

In [58]:
cek = sensor1[sensor1['dTos'].isnull()]

In [59]:
cek['Label'].value_counts()

Label
1    27957
2     2999
Name: count, dtype: int64

In [60]:
# Impute with modes
mode_value1 = sensor1[sensor1['Label'] == 1]['dTos'].mode()[0]
mode_value2 = sensor1[sensor1['Label'] == 2]['dTos'].mode()[0]

sensor1.loc[(sensor1['dTos'].isnull()) & (sensor1['Label'] == 1), 'dTos'] = mode_value1
sensor1.loc[(sensor1['dTos'].isnull()) & (sensor1['Label'] == 2), 'dTos'] = mode_value2

In [61]:
# Cek Missing Data
total_missing = sensor1.isnull().sum().sort_values(ascending=False)
percent_1 = sensor1.isnull().sum()/sensor1.isnull().count()*100
percent_2 = (round(percent_1, 1)).sort_values(ascending=False)
missing_data = pd.concat([total_missing, percent_2], axis=1, keys=['Total Missing', '%'])
missing_data = missing_data.reset_index().rename(columns={'index': 'Column'})
missing_data

           Column  Total Missing    %
0           Dport          10200  0.2
1           Sport            665  0.0
2           State            147  0.0
3       StartTime              0  0.0
4         TotPkts              0  0.0
5      BotnetName              0  0.0
6   ActivityLabel              0  0.0
7           Label              0  0.0
8        SrcBytes              0  0.0
9        TotBytes              0  0.0
10           sTos              0  0.0
11           dTos              0  0.0
12            Dur              0  0.0
13        DstAddr              0  0.0
14            Dir              0  0.0
15        SrcAddr              0  0.0
16          Proto              0  0.0
17       SensorId              0  0.0

### Dport

In [62]:
sensor1['Dport'].value_counts()

Dport
53        1852324
13363     1274027
80         642982
443        141542
6881        27457
           ...
44568           1
44483           1
44906           1
44915           1
0x00f0          1
Name: count, Length: 62560, dtype: int64

In [63]:
cek = sensor1[sensor1['Dport'].isnull()]

In [64]:
cek['Label'].value_counts()

Label
1    10200
Name: count, dtype: int64

In [65]:
# Impute with modes
mode_value = sensor1[sensor1['Label'] == 1]['Dport'].mode()[0]
sensor1['Dport'] = sensor1['Dport'].fillna(mode_value)

### Sport

In [66]:
sensor1['Sport'].value_counts()

Sport
13363     186452
1025       10664
1040        7840
1027        7198
80          6985
           ...
0xbc8d         1
0x6cf8         1
0xbc5e         1
0x5534         1
0xe3d4         1
Name: count, Length: 73273, dtype: int64

In [67]:
cek = sensor1[sensor1['Sport'].isnull()]

In [68]:
cek['Label'].value_counts()

Label
1    665
Name: count, dtype: int64

In [69]:
# Impute with modes
mode_value = sensor1[sensor1['Label'] == 1]['Sport'].mode()[0]
sensor1['Sport'] = sensor1['Sport'].fillna(mode_value)

### State

In [70]:
sensor1['State'].value_counts()

State
CON          3485869
FSPA_FSPA     523135
S_RA           79295
SRPA_FSPA      74541
FSA_FSA        62453
              ...
FSRA_PA            1
SR_FPA             1
SRA_A              1
FPA_SRA            1
RTS                1
Name: count, Length: 332, dtype: int64

In [71]:
cek = sensor1[sensor1['State'].isnull()]

In [72]:
cek['Label'].value_counts()

Label
1    147
Name: count, dtype: int64

In [73]:
# Impute with modes
mode_value = sensor1[sensor1['Label'] == 1]['State'].mode()[0]
sensor1['State'] = sensor1['State'].fillna(mode_value)

In [74]:
# Cek Missing Data
total_missing = sensor1.isnull().sum().sort_values(ascending=False)
percent_1 = sensor1.isnull().sum()/sensor1.isnull().count()*100
percent_2 = (round(percent_1, 1)).sort_values(ascending=False)
missing_data = pd.concat([total_missing, percent_2], axis=1, keys=['Total Missing', '%'])
missing_data = missing_data.reset_index().rename(columns={'index': 'Column'})
missing_data

           Column  Total Missing    %
0       StartTime              0  0.0
1             Dur              0  0.0
2      BotnetName              0  0.0
3   ActivityLabel              0  0.0
4           Label              0  0.0
5        SrcBytes              0  0.0
6        TotBytes              0  0.0
7         TotPkts              0  0.0
8            dTos              0  0.0
9            sTos              0  0.0
10          State              0  0.0
11          Dport              0  0.0
12        DstAddr              0  0.0
13            Dir              0  0.0
14          Sport              0  0.0
15        SrcAddr              0  0.0
16          Proto              0  0.0
17       SensorId              0  0.0

In [75]:
# sensor1.to_csv('./Dataset/sensor1_clean.csv', index=False)

## Categorical Encoding

In [76]:
# df.to_csv('./Dataset/df_clean.csv')

In [77]:
dataset = pd.DataFrame(sensor1[[
    'StartTime',
    'SrcAddr',
    'DstAddr',
    'Sport',
    'Dport',
    'sTos',
    'dTos',
    'Dir',
    'State',
    'Proto',
    'Dur',
    'TotPkts',
    'TotBytes',
    'SrcBytes',
    'BotnetName',
    'Label',
    ]])

### Start Time

In [78]:
dataset['StartTime'] = pd.to_datetime(dataset['StartTime'], errors='coerce')

dataset['StartTimeHour'] = dataset['StartTime'].dt.hour
dataset['StartTimeMinute'] = dataset['StartTime'].dt.minute
dataset['StartTimeSecond'] = dataset['StartTime'].dt.second
dataset = dataset.drop(columns=['StartTime'])

### SrcAddr & DstAddr & Sport & Dport

In [79]:
# Frequency Encoding
def frequency_encoding(df):
    freq_map = df.value_counts().to_dict()  # Create frequency map
    df = df.map(freq_map)  # Apply frequency encoding
    return df

In [80]:
dataset['SrcAddr'] = frequency_encoding(dataset['SrcAddr'])
dataset['DstAddr'] = frequency_encoding(dataset['DstAddr'])
dataset['Sport'] = frequency_encoding(dataset['Sport'])
dataset['Dport'] = frequency_encoding(dataset['Dport'])

### Dir & State & dTos & sTos & Proto

In [81]:
# Label Encoding
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
dataset['Dir'] = le.fit_transform(dataset['Dir'].astype(str))
dataset['State'] = le.fit_transform(dataset['State'].astype(str))
dataset['sTos'] = le.fit_transform(dataset['sTos'].astype(str))
dataset['dTos'] = le.fit_transform(dataset['dTos'].astype(str))
dataset['BotnetName'] = le.fit_transform(dataset['BotnetName'].astype(str))
dataset['Proto'] = le.fit_transform(dataset['Proto'].astype(str))

In [82]:
dataset.shape

(4520851, 18)

In [83]:
dataset.head()

,SrcAddr,DstAddr,Sport,Dport,sTos,dTos,Dir,State,Proto,Dur,TotPkts,TotBytes,SrcBytes,BotnetName,Label,StartTimeHour,StartTimeMinute,StartTimeSecond
0,82656,47,1987,664,0,0,0,322,0,0.000000,1,190,190,3,1,9,0,0
1,827329,1823076,81,1852324,0,0,3,16,4,0.000279,2,214,81,0,0,9,0,0
2,827329,1823076,108,1852324,0,0,3,16,4,0.000237,2,214,81,0,0,9,0,0
3,2,1326350,18,1274027,0,0,3,16,4,3075.341553,8,956,708,0,0,9,0,0
4,827329,1823076,66,1852324,0,0,3,16,4,0.000232,2,214,81,0,0,9,0,0

In [84]:
dataset['isBotnet'] = dataset['Label'].apply(lambda x: 1 if x == 1 or x == 2 else 0)
dataset['isSpam'] = dataset['Label'].apply(lambda x: 1 if x == 2 else 0)

In [85]:
dataset.columns

Index(['SrcAddr', 'DstAddr', 'Sport', 'Dport', 'sTos', 'dTos', 'Dir', 'State',
       'Proto', 'Dur', 'TotPkts', 'TotBytes', 'SrcBytes', 'BotnetName',
       'Label', 'StartTimeHour', 'StartTimeMinute', 'StartTimeSecond',
       'isBotnet', 'isSpam'],
      dtype='object')

In [86]:
# dataset.to_csv('./Dataset/sensor1_clean.csv', index=False)