In [1]:
# import library
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
import plotly.express as px 
from datetime import datetime
import os
%matplotlib inline

In [2]:
# tabel setting
# pd.set_option('display.max_columns',None)
# pd.set_option('display.max_rows',None)
# pd.set_option('display.precision', 2)
# pd.options.display.float_format = '{:,.2f}'.format

# Import Dataset

In [3]:
dataset_dir = '../../Dataset/'

# Labeling

In [12]:
def categorize_label(label):
    label = label.lower()  
    if 'botnet' in label and 'spam' in label:
        return 2
    elif 'botnet' in label:
        return 1
    else:
        return 0

# Sensor 1

In [10]:
sensor1_train = pd.read_csv(dataset_dir + 'sensor1_train.csv')
sensor1_test = pd.read_csv(dataset_dir + 'sensor1_test.csv')

In [11]:
sensor1_train = sensor1_train.drop(columns=['ActivityLabel', 'BotnetName', 'SensorId'])
sensor1_test = sensor1_test.drop(columns=['ActivityLabel', 'BotnetName', 'SensorId'])

In [13]:
sensor1_train['Label'] = sensor1_train['Label'].apply(categorize_label)
sensor1_test['Label'] = sensor1_test['Label'].apply(categorize_label)

In [46]:
sensor1_train.sample(10)

,StartTime,Dur,Proto,SrcAddr,Sport,Dir,DstAddr,Dport,State,sTos,dTos,TotPkts,TotBytes,SrcBytes,Label
183981,2022-07-07 09:38:50,0.111273,udp,147.32.84.59,54084,<->,147.32.80.9,53,CON,0.0,0.0,2,226,82,0
533832,2022-07-07 13:19:26,0.000337,udp,147.32.85.7,55546,<->,147.32.80.9,53,CON,0.0,0.0,2,241,85,0
2766801,2022-07-07 14:25:28,0.038370,udp,147.32.86.186,1643,<->,24.132.136.233,1270,CON,0.0,0.0,2,137,77,0
140691,2022-07-07 11:01:33,0.002292,udp,81.102.105.217,16657,<->,147.32.84.229,13363,CON,0.0,0.0,2,516,456,0
3589047,2022-07-07 14:46:40,0.380856,tcp,67.195.111.228,53101,->,147.32.84.2,80,FSPA_FSPA,0.0,0.0,14,7037,837,0
228719,2022-07-07 11:54:04,0.432835,tcp,90.183.112.6,59799,->,147.32.85.34,443,FSPA_FSPA,0.0,0.0,15,5404,1379,0
2649207,2022-07-07 12:45:43,0.006066,udp,217.170.127.78,61825,<->,147.32.84.229,13363,CON,0.0,0.0,2,579,76,0
1549553,2022-07-07 09:23:59,3062.645020,udp,212.246.215.33,11128,<->,147.32.84.229,13363,CON,0.0,0.0,6,402,222,0
2818653,2022-07-07 10:55:06,0.000369,udp,147.32.84.138,33090,<->,147.32.80.9,53,CON,0.0,0.0,2,214,81,0
2284934,2022-07-07 12:10:49,1236.066284,icmp,147.32.84.208,0x0008,->,147.32.96.69,0x0012,ECO,0.0,NaN,14,14924,14924,1

In [44]:
sensor1_test.sample(10)

,StartTime,Dur,Proto,SrcAddr,Sport,Dir,DstAddr,Dport,State,sTos,dTos,TotPkts,TotBytes,SrcBytes,Label
979490,2022-07-07 13:51:52,0.000408,udp,147.32.84.138,41459,<->,147.32.80.9,53,CON,0.0,0.0,2,214,81,0
636489,2022-07-07 12:07:50,0.214318,tcp,147.32.84.59,50965,->,76.13.114.90,80,SRPA_FSPA,0.0,0.0,8,1561,695,0
816970,2022-07-07 13:10:35,8.997310,tcp,147.32.84.171,53984,->,117.207.18.70,49053,S_,0.0,NaN,3,222,222,0
695789,2022-07-07 12:02:24,0.000263,udp,147.32.84.138,60171,<->,147.32.80.9,53,CON,0.0,0.0,2,214,81,0
769101,2022-07-07 14:20:34,0.000465,udp,147.32.86.53,42239,<->,147.32.80.9,53,CON,0.0,0.0,2,215,74,0
261725,2022-07-07 14:59:01,0.000072,udp,147.32.84.138,50348,<->,147.32.80.9,53,CON,0.0,0.0,2,214,81,0
880770,2022-07-07 12:48:33,10.046440,tcp,147.32.84.94,56077,->,205.234.175.175,80,FSPA_FSPA,0.0,0.0,10,1690,583,0
944578,2022-07-07 11:29:09,0.002356,udp,147.32.86.135,64885,<->,147.32.80.9,53,CON,0.0,0.0,2,220,73,0
285093,2022-07-07 15:16:10,0.128298,tcp,147.32.84.165,3120,->,193.23.181.44,80,FSRPA_FSPA,0.0,0.0,8,875,489,1
182048,2022-07-07 12:11:16,0.000257,udp,147.32.84.138,53954,<->,147.32.80.9,53,CON,0.0,0.0,2,214,81,0

In [47]:
sensor1_train['Label'].value_counts()

Label
0    3562134
1     104713
2       4521
Name: count, dtype: int64

In [48]:
sensor1_test['Label'].value_counts()

Label
0    1187024
1      35287
2       1479
Name: count, dtype: int64

## Cleaning Data

### Drop Duplicates

In [49]:
sensor1_train = sensor1_train.drop_duplicates()
sensor1_test = sensor1_test.drop_duplicates()

In [51]:
print(sensor1_train.shape)
print(sensor1_test.shape)

(3670722, 15)
(1223718, 15)

### Drop dTos

#### Train

In [52]:
cek = sensor1_train[(sensor1_train['dTos'].isnull())]

In [53]:
cek['Label'].value_counts()

Label
0    252085
1     20853
2      2251
Name: count, dtype: int64

In [54]:
cek = cek[cek['Label'] == 0]

In [55]:
cek['Label'].value_counts()

Label
0    252085
Name: count, dtype: int64

In [56]:
sensor1_train = sensor1_train.drop(cek.index)

#### Test

In [57]:
cek = sensor1_test[(sensor1_test['dTos'].isnull())]

In [58]:
cek['Label'].value_counts()

Label
0    84995
1     7124
2      748
Name: count, dtype: int64

In [59]:
cek = cek[cek['Label'] == 0]

In [60]:
cek['Label'].value_counts()

Label
0    84995
Name: count, dtype: int64

In [61]:
sensor1_test = sensor1_test.drop(cek.index)

### Drop sTos

#### Train

In [62]:
cek = sensor1_train[(sensor1_train['sTos'].isnull())]

In [63]:
cek['Label'].value_counts()

Label
0    27220
Name: count, dtype: int64

In [64]:
sensor1_train = sensor1_train.drop(cek.index)

#### Test

In [65]:
cek = sensor1_test[(sensor1_test['sTos'].isnull())]

In [66]:
cek['Label'].value_counts()

Label
0    8919
Name: count, dtype: int64

In [67]:
sensor1_test = sensor1_test.drop(cek.index)

### Drop Dport

#### Train

In [68]:
cek = sensor1_train[sensor1_train['Dport'].isnull()]

In [69]:
cek['Label'].value_counts()

Label
1    7488
0      21
Name: count, dtype: int64

In [70]:
cek = cek[cek['Label'] == 0]

In [71]:
cek['Label'].value_counts()

Label
0    21
Name: count, dtype: int64

In [72]:
sensor1_train = sensor1_train.drop(cek.index)

#### Test

In [73]:
cek = sensor1_test[sensor1_test['Dport'].isnull()]

In [74]:
cek['Label'].value_counts()

Label
1    2712
0       3
Name: count, dtype: int64

In [75]:
cek = cek[cek['Label'] == 0]

In [76]:
cek['Label'].value_counts()

Label
0    3
Name: count, dtype: int64

In [77]:
sensor1_test = sensor1_test.drop(cek.index)

### Drop Sport

#### Train

In [78]:
cek = sensor1_train[sensor1_train['Sport'].isnull()]

In [79]:
cek['Label'].value_counts()

Label
1    509
Name: count, dtype: int64

#### Test

In [80]:
cek = sensor1_test[sensor1_test['Sport'].isnull()]

In [81]:
cek['Label'].value_counts()

Label
1    156
Name: count, dtype: int64

### Drop State

#### Train

In [82]:
cek = sensor1_train[sensor1_train['State'].isnull()]

In [83]:
cek['Label'].value_counts()

Label
1    112
Name: count, dtype: int64

#### Test

In [84]:
cek = sensor1_test[sensor1_test['State'].isnull()]

In [85]:
cek['Label'].value_counts()

Label
1    35
Name: count, dtype: int64

## Imputing

### dTos

In [86]:
sensor1_train['dTos'].value_counts()

dTos
0.0    3367692
2.0        300
3.0        261
1.0         39
Name: count, dtype: int64

In [87]:
cek = sensor1_train[sensor1_train['dTos'].isnull()]

In [89]:
cek['Label'].value_counts()

Label
1    20853
2     2251
Name: count, dtype: int64

In [90]:
# Impute with modes
mode_value1 = sensor1_train[sensor1_train['Label'] == 1]['dTos'].mode()[0]
mode_value2 = sensor1_train[sensor1_train['Label'] == 2]['dTos'].mode()[0]

In [91]:
sensor1_train.loc[(sensor1_train['dTos'].isnull()) & (sensor1_train['Label'] == 1), 'dTos'] = mode_value1
sensor1_train.loc[(sensor1_train['dTos'].isnull()) & (sensor1_train['Label'] == 2), 'dTos'] = mode_value2

sensor1_test.loc[(sensor1_test['dTos'].isnull()) & (sensor1_test['Label'] == 1), 'dTos'] = mode_value1
sensor1_test.loc[(sensor1_test['dTos'].isnull()) & (sensor1_test['Label'] == 2), 'dTos'] = mode_value2

In [92]:
# Cek Missing Data
total_missing = sensor1_train.isnull().sum().sort_values(ascending=False)
percent_1 = sensor1_train.isnull().sum()/sensor1_train.isnull().count()*100
percent_2 = (round(percent_1, 1)).sort_values(ascending=False)
missing_data = pd.concat([total_missing, percent_2], axis=1, keys=['Total Missing', '%'])
missing_data = missing_data.reset_index().rename(columns={'index': 'Column'})
missing_data

       Column  Total Missing    %
0       Dport           7488  0.2
1       Sport            509  0.0
2       State            112  0.0
3   StartTime              0  0.0
4         Dur              0  0.0
5       Proto              0  0.0
6     SrcAddr              0  0.0
7         Dir              0  0.0
8     DstAddr              0  0.0
9        sTos              0  0.0
10       dTos              0  0.0
11    TotPkts              0  0.0
12   TotBytes              0  0.0
13   SrcBytes              0  0.0
14      Label              0  0.0

In [93]:
# Cek Missing Data
total_missing = sensor1_test.isnull().sum().sort_values(ascending=False)
percent_1 = sensor1_test.isnull().sum()/sensor1_test.isnull().count()*100
percent_2 = (round(percent_1, 1)).sort_values(ascending=False)
missing_data = pd.concat([total_missing, percent_2], axis=1, keys=['Total Missing', '%'])
missing_data = missing_data.reset_index().rename(columns={'index': 'Column'})
missing_data

       Column  Total Missing    %
0       Dport           2712  0.2
1       Sport            156  0.0
2       State             35  0.0
3   StartTime              0  0.0
4         Dur              0  0.0
5       Proto              0  0.0
6     SrcAddr              0  0.0
7         Dir              0  0.0
8     DstAddr              0  0.0
9        sTos              0  0.0
10       dTos              0  0.0
11    TotPkts              0  0.0
12   TotBytes              0  0.0
13   SrcBytes              0  0.0
14      Label              0  0.0

### Dport

In [94]:
sensor1_train['Dport'].value_counts()

Dport
53       1389751
13363     955188
80        482179
443       106180
6881       20509
          ...
39167          1
36406          1
9450           1
38520          1
26495          1
Name: count, Length: 59026, dtype: int64

In [95]:
cek = sensor1_train[sensor1_train['Dport'].isnull()]

In [96]:
cek['Label'].value_counts()

Label
1    7488
Name: count, dtype: int64

In [97]:
cek = sensor1_test[sensor1_test['Dport'].isnull()]

In [98]:
cek['Label'].value_counts()

Label
1    2712
Name: count, dtype: int64

In [99]:
# Impute with modes
mode_value = sensor1_train[sensor1_train['Label'] == 1]['Dport'].mode()[0]

In [100]:
sensor1_train['Dport'] = sensor1_train['Dport'].fillna(mode_value)

sensor1_test['Dport'] = sensor1_test['Dport'].fillna(mode_value)

### Sport

In [101]:
sensor1_train['Sport'].value_counts()

Sport
13363     140117
1025        7994
1040        5907
1027        5371
80          5296
           ...
0x1b5b         1
0x2002         1
0x28cc         1
0x9f20         1
0x275a         1
Name: count, Length: 71139, dtype: int64

In [102]:
cek = sensor1_train[sensor1_train['Sport'].isnull()]

In [103]:
cek['Label'].value_counts()

Label
1    509
Name: count, dtype: int64

In [104]:
cek = sensor1_test[sensor1_test['Sport'].isnull()]

In [105]:
cek['Label'].value_counts()

Label
1    156
Name: count, dtype: int64

In [106]:
# Impute with modes
mode_value = sensor1_train[sensor1_train['Label'] == 1]['Sport'].mode()[0]

In [107]:
sensor1_train['Sport'] = sensor1_train['Sport'].fillna(mode_value)

sensor1_test['Sport'] = sensor1_test['Sport'].fillna(mode_value)

### State

In [108]:
sensor1_train['State'].value_counts()

State
CON             2615260
FSPA_FSPA        392379
S_RA              59441
SRPA_FSPA         55904
FSA_FSA           46985
                 ...
FA_SRA                1
FSA_R                 1
SPA_SRPAC             1
FSRPA_FSRPAC          1
RTS                   1
Name: count, Length: 317, dtype: int64

In [109]:
cek = sensor1_train[sensor1_train['State'].isnull()]

In [110]:
cek['Label'].value_counts()

Label
1    112
Name: count, dtype: int64

In [111]:
cek = sensor1_test[sensor1_test['State'].isnull()]

In [112]:
cek['Label'].value_counts()

Label
1    35
Name: count, dtype: int64

In [113]:
# Impute with modes
mode_value = sensor1_train[sensor1_train['Label'] == 1]['State'].mode()[0]

In [114]:
sensor1_train['State'] = sensor1_train['State'].fillna(mode_value)
sensor1_test['State'] = sensor1_test['State'].fillna(mode_value)

In [116]:
# Cek Missing Data
total_missing = sensor1_train.isnull().sum().sort_values(ascending=False)
percent_1 = sensor1_train.isnull().sum()/sensor1_train.isnull().count()*100
percent_2 = (round(percent_1, 1)).sort_values(ascending=False)
missing_data = pd.concat([total_missing, percent_2], axis=1, keys=['Total Missing', '%'])
missing_data = missing_data.reset_index().rename(columns={'index': 'Column'})
missing_data

       Column  Total Missing    %
0   StartTime              0  0.0
1         Dur              0  0.0
2       Proto              0  0.0
3     SrcAddr              0  0.0
4       Sport              0  0.0
5         Dir              0  0.0
6     DstAddr              0  0.0
7       Dport              0  0.0
8       State              0  0.0
9        sTos              0  0.0
10       dTos              0  0.0
11    TotPkts              0  0.0
12   TotBytes              0  0.0
13   SrcBytes              0  0.0
14      Label              0  0.0

In [115]:
# Cek Missing Data
total_missing = sensor1_test.isnull().sum().sort_values(ascending=False)
percent_1 = sensor1_test.isnull().sum()/sensor1_test.isnull().count()*100
percent_2 = (round(percent_1, 1)).sort_values(ascending=False)
missing_data = pd.concat([total_missing, percent_2], axis=1, keys=['Total Missing', '%'])
missing_data = missing_data.reset_index().rename(columns={'index': 'Column'})
missing_data

       Column  Total Missing    %
0   StartTime              0  0.0
1         Dur              0  0.0
2       Proto              0  0.0
3     SrcAddr              0  0.0
4       Sport              0  0.0
5         Dir              0  0.0
6     DstAddr              0  0.0
7       Dport              0  0.0
8       State              0  0.0
9        sTos              0  0.0
10       dTos              0  0.0
11    TotPkts              0  0.0
12   TotBytes              0  0.0
13   SrcBytes              0  0.0
14      Label              0  0.0

In [117]:
sensor1_train.to_csv(dataset_dir + 'train1_clean.csv', index=False)

In [118]:
sensor1_test.to_csv(dataset_dir + 'test1_clean.csv', index=False)