In [1]:
# import library
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
import plotly.express as px 
from datetime import datetime
import os
%matplotlib inline

In [2]:
# tabel setting
# pd.set_option('display.max_columns',None)
# pd.set_option('display.max_rows',None)
# pd.set_option('display.precision', 2)
# pd.options.display.float_format = '{:,.2f}'.format

# Import Dataset

In [3]:
dataset_dir = '../../Dataset/'

# Labeling

In [4]:
def categorize_label(label):
    label = label.lower()  
    if 'botnet' in label and 'spam' in label:
        return 2
    elif 'botnet' in label:
        return 1
    else:
        return 0

# Sensor 2

In [14]:
sensor2_train = pd.read_csv(dataset_dir + 'sensor2_train.csv')
sensor2_test = pd.read_csv(dataset_dir + 'sensor2_test.csv')

In [15]:
sensor2_train = sensor2_train.drop(columns=['ActivityLabel', 'BotnetName', 'SensorId'])
sensor2_test = sensor2_test.drop(columns=['ActivityLabel', 'BotnetName', 'SensorId'])

In [16]:
sensor2_train['Label'] = sensor2_train['Label'].apply(categorize_label)
sensor2_test['Label'] = sensor2_test['Label'].apply(categorize_label)

In [17]:
sensor2_train.sample(10)

,StartTime,Dur,Proto,SrcAddr,Sport,Dir,DstAddr,Dport,State,sTos,dTos,TotPkts,TotBytes,SrcBytes,Label
4474383,2022-07-07 11:09:25,0.001917,udp,85.216.194.116,24824,<->,147.32.84.229,13363,CON,0.0,0.0,2,136,76,0
4028389,2022-07-07 13:43:50,0.262566,udp,147.32.84.229,13363,<->,189.35.111.66,6488,CON,0.0,0.0,2,135,74,0
1342853,2022-07-07 12:24:30,60.242802,tcp,147.32.86.148,45418,->,77.75.73.153,80,FSPA_FSPA,0.0,0.0,387,301721,19818,0
3172647,2022-07-07 10:40:56,0.767934,tcp,115.64.9.60,45999,->,147.32.87.52,1433,FSPA_FSPA,0.0,0.0,9,822,474,0
3842750,2022-07-07 09:23:24,0.000700,udp,129.241.141.122,56525,<->,147.32.84.229,13363,CON,0.0,0.0,2,134,74,0
3357696,2022-07-07 09:41:23,0.000168,udp,147.32.84.138,40696,<->,147.32.80.9,53,CON,0.0,0.0,2,214,81,0
818334,2022-07-07 10:53:52,0.000311,udp,147.32.84.138,37425,<->,147.32.80.9,53,CON,0.0,0.0,2,304,83,0
2359148,2022-07-07 09:07:31,0.000311,udp,147.32.85.25,41293,<->,147.32.80.9,53,CON,0.0,0.0,2,208,79,0
2442986,2022-07-07 09:41:34,0.000510,udp,147.32.87.252,39586,<->,147.32.80.9,53,CON,0.0,0.0,2,208,79,0
980756,2022-07-07 10:11:20,65.426369,tcp,147.32.84.59,1606,->,74.125.232.203,80,SRPA_SPA,0.0,0.0,108,86139,11540,0

In [18]:
sensor2_test.sample(10)

,StartTime,Dur,Proto,SrcAddr,Sport,Dir,DstAddr,Dport,State,sTos,dTos,TotPkts,TotBytes,SrcBytes,Label
349539,2022-07-07 09:35:57,0.000422,udp,147.32.84.59,59901,<->,147.32.80.9,53,CON,0.0,0.0,2,227,75,0
1205186,2022-07-07 09:53:28,21.214586,tcp,147.32.84.59,30635,->,209.85.148.17,443,FSPA_FSPA,0.0,0.0,16,3722,2794,0
132340,2022-07-07 09:21:23,696.670959,udp,147.32.84.229,13363,<->,95.87.9.12,34824,CON,0.0,0.0,4,1644,1427,0
635010,2022-07-07 11:32:25,0.001024,udp,173.70.120.83,28599,<->,147.32.84.229,13363,CON,0.0,0.0,2,611,83,0
628491,2022-07-07 11:34:31,0.147473,udp,147.32.84.229,13363,<->,69.150.180.246,30757,CON,0.0,0.0,2,566,506,0
93065,2022-07-07 10:40:18,8.866545,tcp,85.77.243.137,60583,->,147.32.84.229,13363,S_SA,0.0,0.0,4,308,74,0
239906,2022-07-07 13:22:01,0.000331,udp,147.32.84.207,1673,<->,147.32.80.9,53,CON,0.0,0.0,2,424,78,1
1145210,2022-07-07 11:09:25,10.674212,tcp,147.32.84.59,2836,->,77.75.72.22,80,FSPA_FSPA,0.0,0.0,112,94293,4217,0
716265,2022-07-07 12:58:25,0.000310,udp,147.32.85.25,41176,<->,147.32.80.9,53,CON,0.0,0.0,2,207,66,0
754099,2022-07-07 11:37:52,9.024376,tcp,147.32.84.215,52544,->,86.49.87.107,6889,S_,0.0,NaN,4,296,296,0

In [19]:
sensor2_train['Label'].value_counts()

Label
0    4225504
1     254331
2      18764
Name: count, dtype: int64

In [20]:
sensor2_test['Label'].value_counts()

Label
0    1408629
1      84669
2       6236
Name: count, dtype: int64

## Cleaning Data

### Drop Duplicates

In [23]:
sensor2_train = sensor2_train.drop_duplicates()
sensor2_test = sensor2_test.drop_duplicates()

In [24]:
print(sensor2_train.shape)
print(sensor2_test.shape)

(4497441, 15)
(1499384, 15)

### Drop dTos

#### Train

In [25]:
cek = sensor2_train[(sensor2_train['dTos'].isnull())]

In [26]:
cek['Label'].value_counts()

Label
0    369470
1     38038
2      9754
Name: count, dtype: int64

In [27]:
cek = cek[cek['Label'] == 0]

In [28]:
cek['Label'].value_counts()

Label
0    369470
Name: count, dtype: int64

In [29]:
sensor2_train = sensor2_train.drop(cek.index)

#### Test

In [30]:
cek = sensor2_test[(sensor2_test['dTos'].isnull())]

In [31]:
cek['Label'].value_counts()

Label
0    123272
1     12924
2      3246
Name: count, dtype: int64

In [32]:
cek = cek[cek['Label'] == 0]

In [33]:
cek['Label'].value_counts()

Label
0    123272
Name: count, dtype: int64

In [34]:
sensor2_test = sensor2_test.drop(cek.index)

### Drop sTos

#### Train

In [35]:
cek = sensor2_train[(sensor2_train['sTos'].isnull())]

In [36]:
cek['Label'].value_counts()

Label
0    21257
Name: count, dtype: int64

In [37]:
sensor2_train = sensor2_train.drop(cek.index)

#### Test

In [38]:
cek = sensor2_test[(sensor2_test['sTos'].isnull())]

In [39]:
cek['Label'].value_counts()

Label
0    7185
Name: count, dtype: int64

In [40]:
sensor2_test = sensor2_test.drop(cek.index)

### Drop Dport

#### Train

In [41]:
cek = sensor2_train[sensor2_train['Dport'].isnull()]

In [42]:
cek['Label'].value_counts()

Label
1    8336
0      13
Name: count, dtype: int64

In [43]:
cek = cek[cek['Label'] == 0]

In [44]:
cek['Label'].value_counts()

Label
0    13
Name: count, dtype: int64

In [45]:
sensor2_train = sensor2_train.drop(cek.index)

#### Test

In [46]:
cek = sensor2_test[sensor2_test['Dport'].isnull()]

In [47]:
cek['Label'].value_counts()

Label
1    2804
0       6
Name: count, dtype: int64

In [48]:
cek = cek[cek['Label'] == 0]

In [49]:
cek['Label'].value_counts()

Label
0    6
Name: count, dtype: int64

In [50]:
sensor2_test = sensor2_test.drop(cek.index)

### Drop Sport

#### Train

In [51]:
cek = sensor2_train[sensor2_train['Sport'].isnull()]

In [52]:
cek['Label'].value_counts()

Label
1    489
Name: count, dtype: int64

#### Test

In [53]:
cek = sensor2_test[sensor2_test['Sport'].isnull()]

In [54]:
cek['Label'].value_counts()

Label
1    176
Name: count, dtype: int64

### Drop State

#### Train

In [55]:
cek = sensor2_train[sensor2_train['State'].isnull()]

In [56]:
cek['Label'].value_counts()

Label
1    116
Name: count, dtype: int64

#### Test

In [57]:
cek = sensor2_test[sensor2_test['State'].isnull()]

In [58]:
cek['Label'].value_counts()

Label
1    42
Name: count, dtype: int64

## Imputing

### dTos

In [59]:
sensor2_train['dTos'].value_counts()

dTos
0.0    4058216
3.0        331
2.0        325
1.0         37
Name: count, dtype: int64

In [60]:
cek = sensor2_train[sensor2_train['dTos'].isnull()]

In [61]:
cek['Label'].value_counts()

Label
1    38038
2     9754
Name: count, dtype: int64

In [62]:
# Impute with modes
mode_value1 = sensor2_train[sensor2_train['Label'] == 1]['dTos'].mode()[0]
mode_value2 = sensor2_train[sensor2_train['Label'] == 2]['dTos'].mode()[0]

In [63]:
sensor2_train.loc[(sensor2_train['dTos'].isnull()) & (sensor2_train['Label'] == 1), 'dTos'] = mode_value1
sensor2_train.loc[(sensor2_train['dTos'].isnull()) & (sensor2_train['Label'] == 2), 'dTos'] = mode_value2

sensor2_test.loc[(sensor2_test['dTos'].isnull()) & (sensor2_test['Label'] == 1), 'dTos'] = mode_value1
sensor2_test.loc[(sensor2_test['dTos'].isnull()) & (sensor2_test['Label'] == 2), 'dTos'] = mode_value2

In [64]:
# Cek Missing Data
total_missing = sensor2_train.isnull().sum().sort_values(ascending=False)
percent_1 = sensor2_train.isnull().sum()/sensor2_train.isnull().count()*100
percent_2 = (round(percent_1, 1)).sort_values(ascending=False)
missing_data = pd.concat([total_missing, percent_2], axis=1, keys=['Total Missing', '%'])
missing_data = missing_data.reset_index().rename(columns={'index': 'Column'})
missing_data

       Column  Total Missing    %
0       Dport           8336  0.2
1       Sport            489  0.0
2       State            116  0.0
3   StartTime              0  0.0
4         Dur              0  0.0
5       Proto              0  0.0
6     SrcAddr              0  0.0
7         Dir              0  0.0
8     DstAddr              0  0.0
9        sTos              0  0.0
10       dTos              0  0.0
11    TotPkts              0  0.0
12   TotBytes              0  0.0
13   SrcBytes              0  0.0
14      Label              0  0.0

In [65]:
# Cek Missing Data
total_missing = sensor2_test.isnull().sum().sort_values(ascending=False)
percent_1 = sensor2_test.isnull().sum()/sensor2_test.isnull().count()*100
percent_2 = (round(percent_1, 1)).sort_values(ascending=False)
missing_data = pd.concat([total_missing, percent_2], axis=1, keys=['Total Missing', '%'])
missing_data = missing_data.reset_index().rename(columns={'index': 'Column'})
missing_data

       Column  Total Missing    %
0       Dport           2804  0.2
1       Sport            176  0.0
2       State             42  0.0
3   StartTime              0  0.0
4         Dur              0  0.0
5       Proto              0  0.0
6     SrcAddr              0  0.0
7         Dir              0  0.0
8     DstAddr              0  0.0
9        sTos              0  0.0
10       dTos              0  0.0
11    TotPkts              0  0.0
12   TotBytes              0  0.0
13   SrcBytes              0  0.0
14      Label              0  0.0

### Dport

In [66]:
sensor2_train['Dport'].value_counts()

Dport
53       1645689
13363    1166534
80        573425
443       148497
6667       30363
          ...
40566          1
34743          1
65008          1
6067           1
16445          1
Name: count, Length: 54909, dtype: int64

In [67]:
cek = sensor2_train[sensor2_train['Dport'].isnull()]

In [68]:
cek['Label'].value_counts()

Label
1    8336
Name: count, dtype: int64

In [69]:
cek = sensor2_test[sensor2_test['Dport'].isnull()]

In [70]:
cek['Label'].value_counts()

Label
1    2804
Name: count, dtype: int64

In [71]:
# Impute with modes
mode_value = sensor2_train[sensor2_train['Label'] == 1]['Dport'].mode()[0]

In [72]:
sensor2_train['Dport'] = sensor2_train['Dport'].fillna(mode_value)

sensor2_test['Dport'] = sensor2_test['Dport'].fillna(mode_value)

### Sport

In [73]:
sensor2_train['Sport'].value_counts()

Sport
13363     170607
1025       10384
123         9278
1027        7496
80          6375
           ...
0x81f9         1
0xbeb7         1
0x7450         1
0xd6be         1
0xbe50         1
Name: count, Length: 71888, dtype: int64

In [74]:
cek = sensor2_train[sensor2_train['Sport'].isnull()]

In [75]:
cek['Label'].value_counts()

Label
1    489
Name: count, dtype: int64

In [76]:
cek = sensor2_test[sensor2_test['Sport'].isnull()]

In [77]:
cek['Label'].value_counts()

Label
1    176
Name: count, dtype: int64

In [78]:
# Impute with modes
mode_value = sensor2_train[sensor2_train['Label'] == 1]['Sport'].mode()[0]

In [79]:
sensor2_train['Sport'] = sensor2_train['Sport'].fillna(mode_value)

sensor2_test['Sport'] = sensor2_test['Sport'].fillna(mode_value)

### State

In [80]:
sensor2_train['State'].value_counts()

State
CON             3140623
FSPA_FSPA        487139
SRPA_SPA          78954
SRPA_FSPA         65522
FSA_FSA           50704
                 ...
FSRPA_FSRPAC          1
FSRAEC_FSPA           1
_S                    1
RA_RA                 1
URISO                 1
Name: count, Length: 326, dtype: int64

In [81]:
cek = sensor2_train[sensor2_train['State'].isnull()]

In [82]:
cek['Label'].value_counts()

Label
1    116
Name: count, dtype: int64

In [83]:
cek = sensor2_test[sensor2_test['State'].isnull()]

In [84]:
cek['Label'].value_counts()

Label
1    42
Name: count, dtype: int64

In [85]:
# Impute with modes
mode_value = sensor2_train[sensor2_train['Label'] == 1]['State'].mode()[0]

In [86]:
sensor2_train['State'] = sensor2_train['State'].fillna(mode_value)
sensor2_test['State'] = sensor2_test['State'].fillna(mode_value)

In [87]:
# Cek Missing Data
total_missing = sensor2_train.isnull().sum().sort_values(ascending=False)
percent_1 = sensor2_train.isnull().sum()/sensor2_train.isnull().count()*100
percent_2 = (round(percent_1, 1)).sort_values(ascending=False)
missing_data = pd.concat([total_missing, percent_2], axis=1, keys=['Total Missing', '%'])
missing_data = missing_data.reset_index().rename(columns={'index': 'Column'})
missing_data

       Column  Total Missing    %
0   StartTime              0  0.0
1         Dur              0  0.0
2       Proto              0  0.0
3     SrcAddr              0  0.0
4       Sport              0  0.0
5         Dir              0  0.0
6     DstAddr              0  0.0
7       Dport              0  0.0
8       State              0  0.0
9        sTos              0  0.0
10       dTos              0  0.0
11    TotPkts              0  0.0
12   TotBytes              0  0.0
13   SrcBytes              0  0.0
14      Label              0  0.0

In [88]:
# Cek Missing Data
total_missing = sensor2_test.isnull().sum().sort_values(ascending=False)
percent_1 = sensor2_test.isnull().sum()/sensor2_test.isnull().count()*100
percent_2 = (round(percent_1, 1)).sort_values(ascending=False)
missing_data = pd.concat([total_missing, percent_2], axis=1, keys=['Total Missing', '%'])
missing_data = missing_data.reset_index().rename(columns={'index': 'Column'})
missing_data

       Column  Total Missing    %
0   StartTime              0  0.0
1         Dur              0  0.0
2       Proto              0  0.0
3     SrcAddr              0  0.0
4       Sport              0  0.0
5         Dir              0  0.0
6     DstAddr              0  0.0
7       Dport              0  0.0
8       State              0  0.0
9        sTos              0  0.0
10       dTos              0  0.0
11    TotPkts              0  0.0
12   TotBytes              0  0.0
13   SrcBytes              0  0.0
14      Label              0  0.0

In [89]:
sensor2_train.to_csv(dataset_dir + 'train2_clean.csv', index=False)

In [90]:
sensor2_test.to_csv(dataset_dir + 'test2_clean.csv', index=False)