In [1]:
# import library
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
import plotly.express as px 
from datetime import datetime
import os
%matplotlib inline

In [2]:
# tabel setting
# pd.set_option('display.max_columns',None)
# pd.set_option('display.max_rows',None)
# pd.set_option('display.precision', 2)
# pd.options.display.float_format = '{:,.2f}'.format

# Import Dataset

In [3]:
dataset_dir = '../../Dataset/'

# Labeling

In [4]:
def categorize_label(label):
    label = label.lower()  
    if 'botnet' in label and 'spam' in label:
        return 2
    elif 'botnet' in label:
        return 1
    else:
        return 0

# Sensor 3

In [5]:
sensor3_train = pd.read_csv(dataset_dir + 'sensor3_train.csv')
sensor3_test = pd.read_csv(dataset_dir + 'sensor3_test.csv')

In [6]:
sensor3_train = sensor3_train.drop(columns=['ActivityLabel', 'BotnetName', 'SensorId'])
sensor3_test = sensor3_test.drop(columns=['ActivityLabel', 'BotnetName', 'SensorId'])

In [7]:
sensor3_train['Label'] = sensor3_train['Label'].apply(categorize_label)
sensor3_test['Label'] = sensor3_test['Label'].apply(categorize_label)

In [8]:
sensor3_train.sample(10)

,StartTime,Dur,Proto,SrcAddr,Sport,Dir,DstAddr,Dport,State,sTos,dTos,TotPkts,TotBytes,SrcBytes,Label
1064267,2022-07-07 11:11:42,3.769012,tcp,147.32.86.194,1117,->,66.220.153.11,80,FSPA_FSPA,0.0,0.0,25,13116,1874,0
2024640,2022-07-07 13:44:06,2641.117188,udp,187.7.18.119,19927,<->,147.32.86.165,12114,CON,0.0,0.0,5,365,304,0
378535,2022-07-07 13:41:16,0.000197,udp,147.32.85.25,57761,<->,147.32.80.9,53,CON,0.0,0.0,2,207,66,0
616774,2022-07-07 12:02:08,72.467361,udp,173.20.249.68,56421,<->,147.32.84.229,13363,CON,0.0,0.0,4,272,152,0
1784140,2022-07-07 11:05:58,0.000162,udp,147.32.84.138,58559,<->,147.32.80.9,53,CON,0.0,0.0,2,214,81,0
23355,2022-07-07 10:24:00,0.544194,tcp,147.32.84.59,1206,->,194.79.52.195,80,FSPA_FSPA,0.0,0.0,18,12621,1323,0
1733410,2022-07-07 11:01:31,21.588070,tcp,147.32.84.192,1356,->,212.117.161.86,65500,FSPA_FSPA,0.0,0.0,36,12588,10485,1
920575,2022-07-07 12:31:22,0.422665,tcp,147.32.84.59,55314,->,76.13.114.90,80,FSPA_FSPA,0.0,0.0,9,1541,699,0
1159543,2022-07-07 13:37:58,0.000125,tcp,193.219.232.158,3493,->,147.32.86.110,443,S_RA,0.0,0.0,2,138,78,0
2706044,2022-07-07 11:35:18,107.675529,tcp,147.32.84.118,4539,->,2.20.182.19,443,FSPA_FSPA,0.0,0.0,18,5666,1296,0

In [9]:
sensor3_test.sample(10)

,StartTime,Dur,Proto,SrcAddr,Sport,Dir,DstAddr,Dport,State,sTos,dTos,TotPkts,TotBytes,SrcBytes,Label
392556,2022-07-07 10:30:52,0.000471,udp,147.32.84.59,58709,<->,147.32.80.9,53,CON,0.0,0.0,2,312,77,0
794329,2022-07-07 12:23:38,0.000372,udp,147.32.85.34,64927,<->,147.32.80.9,53,CON,0.0,0.0,2,292,77,0
641273,2022-07-07 09:33:38,0.000430,udp,147.32.84.184,33483,<->,147.32.80.9,53,CON,0.0,0.0,2,363,78,0
854905,2022-07-07 12:45:05,0.000505,udp,62.212.204.214,7130,<->,147.32.84.229,13363,CON,0.0,0.0,2,135,75,0
829350,2022-07-07 09:35:17,0.000514,udp,114.39.57.77,60785,<->,147.32.84.229,13363,CON,0.0,0.0,2,136,76,0
512952,2022-07-07 13:56:08,0.000229,udp,147.32.84.138,52137,<->,147.32.80.9,53,CON,0.0,0.0,2,216,83,0
22355,2022-07-07 12:43:37,0.019131,tcp,147.32.84.59,51129,->,209.85.148.104,80,FSA_FSA,0.0,0.0,7,478,272,0
380471,2022-07-07 09:50:43,0.146215,tcp,147.32.86.171,3135,->,78.24.9.106,80,SRPA_FSPA,0.0,0.0,10,3767,1166,0
668843,2022-07-07 13:45:21,0.000775,udp,200.142.156.82,63366,<->,147.32.86.165,12114,CON,0.0,0.0,2,136,75,0
131273,2022-07-07 13:11:11,0.009698,tcp,147.32.86.96,35357,->,147.32.87.51,12489,_FSPA,NaN,0.0,8,586,0,0

In [10]:
sensor3_train['Label'].value_counts()

Label
0    2693753
1     203357
2      17234
Name: count, dtype: int64

In [11]:
sensor3_test['Label'].value_counts()

Label
0    898039
1     67643
2      5766
Name: count, dtype: int64

## Cleaning Data

### Drop Duplicates

In [12]:
sensor3_train = sensor3_train.drop_duplicates()
sensor3_test = sensor3_test.drop_duplicates()

In [13]:
print(sensor3_train.shape)
print(sensor3_test.shape)

(2913455, 15)
(971343, 15)

### Drop dTos

#### Train

In [14]:
cek = sensor3_train[(sensor3_train['dTos'].isnull())]

In [15]:
cek['Label'].value_counts()

Label
0    194526
1     22309
2      9001
Name: count, dtype: int64

In [16]:
cek = cek[cek['Label'] == 0]

In [17]:
cek['Label'].value_counts()

Label
0    194526
Name: count, dtype: int64

In [18]:
sensor3_train = sensor3_train.drop(cek.index)

#### Test

In [19]:
cek = sensor3_test[(sensor3_test['dTos'].isnull())]

In [20]:
cek['Label'].value_counts()

Label
0    64756
1     7310
2     2998
Name: count, dtype: int64

In [21]:
cek = cek[cek['Label'] == 0]

In [22]:
cek['Label'].value_counts()

Label
0    64756
Name: count, dtype: int64

In [23]:
sensor3_test = sensor3_test.drop(cek.index)

### Drop sTos

#### Train

In [24]:
cek = sensor3_train[(sensor3_train['sTos'].isnull())]

In [25]:
cek['Label'].value_counts()

Label
0    21417
Name: count, dtype: int64

In [26]:
sensor3_train = sensor3_train.drop(cek.index)

#### Test

In [27]:
cek = sensor3_test[(sensor3_test['sTos'].isnull())]

In [28]:
cek['Label'].value_counts()

Label
0    7244
Name: count, dtype: int64

In [29]:
sensor3_test = sensor3_test.drop(cek.index)

### Drop Dport

#### Train

In [30]:
cek = sensor3_train[sensor3_train['Dport'].isnull()]

In [31]:
cek['Label'].value_counts()

Label
1    1299
0      22
Name: count, dtype: int64

In [32]:
cek = cek[cek['Label'] == 0]

In [33]:
cek['Label'].value_counts()

Label
0    22
Name: count, dtype: int64

In [34]:
sensor3_train = sensor3_train.drop(cek.index)

#### Test

In [35]:
cek = sensor3_test[sensor3_test['Dport'].isnull()]

In [36]:
cek['Label'].value_counts()

Label
1    435
0      2
Name: count, dtype: int64

In [37]:
cek = cek[cek['Label'] == 0]

In [38]:
cek['Label'].value_counts()

Label
0    2
Name: count, dtype: int64

In [39]:
sensor3_test = sensor3_test.drop(cek.index)

### Drop Sport

#### Train

In [40]:
cek = sensor3_train[sensor3_train['Sport'].isnull()]

In [41]:
cek['Label'].value_counts()

Label
1    736
0      4
Name: count, dtype: int64

In [42]:
cek = cek[cek['Label'] == 0]

In [43]:
cek['Label'].value_counts()

Label
0    4
Name: count, dtype: int64

In [44]:
sensor3_train = sensor3_train.drop(cek.index)

#### Test

In [45]:
cek = sensor3_test[sensor3_test['Sport'].isnull()]

In [46]:
cek['Label'].value_counts()

Label
1    243
0      2
Name: count, dtype: int64

In [47]:
cek = cek[cek['Label'] == 0]

In [48]:
cek['Label'].value_counts()

Label
0    2
Name: count, dtype: int64

In [49]:
sensor3_test = sensor3_test.drop(cek.index)

### Drop State

#### Train

In [50]:
cek = sensor3_train[sensor3_train['State'].isnull()]

In [51]:
cek['Label'].value_counts()

Label
1    9
Name: count, dtype: int64

#### Test

In [52]:
cek = sensor3_test[sensor3_test['State'].isnull()]

In [53]:
cek['Label'].value_counts()

Label
1    1
Name: count, dtype: int64

## Imputing

### dTos

In [54]:
sensor3_train['dTos'].value_counts()

dTos
0.0    2665703
3.0        256
2.0        185
1.0         32
Name: count, dtype: int64

In [55]:
cek = sensor3_train[sensor3_train['dTos'].isnull()]

In [56]:
cek['Label'].value_counts()

Label
1    22309
2     9001
Name: count, dtype: int64

In [57]:
# Impute with modes
mode_value1 = sensor3_train[sensor3_train['Label'] == 1]['dTos'].mode()[0]
mode_value2 = sensor3_train[sensor3_train['Label'] == 2]['dTos'].mode()[0]

In [58]:
sensor3_train.loc[(sensor3_train['dTos'].isnull()) & (sensor3_train['Label'] == 1), 'dTos'] = mode_value1
sensor3_train.loc[(sensor3_train['dTos'].isnull()) & (sensor3_train['Label'] == 2), 'dTos'] = mode_value2

sensor3_test.loc[(sensor3_test['dTos'].isnull()) & (sensor3_test['Label'] == 1), 'dTos'] = mode_value1
sensor3_test.loc[(sensor3_test['dTos'].isnull()) & (sensor3_test['Label'] == 2), 'dTos'] = mode_value2

In [59]:
# Cek Missing Data
total_missing = sensor3_train.isnull().sum().sort_values(ascending=False)
percent_1 = sensor3_train.isnull().sum()/sensor3_train.isnull().count()*100
percent_2 = (round(percent_1, 1)).sort_values(ascending=False)
missing_data = pd.concat([total_missing, percent_2], axis=1, keys=['Total Missing', '%'])
missing_data = missing_data.reset_index().rename(columns={'index': 'Column'})
missing_data

       Column  Total Missing    %
0       Dport           1299  0.0
1       Sport            736  0.0
2       State              9  0.0
3   StartTime              0  0.0
4         Dur              0  0.0
5       Proto              0  0.0
6     SrcAddr              0  0.0
7         Dir              0  0.0
8     DstAddr              0  0.0
9        sTos              0  0.0
10       dTos              0  0.0
11    TotPkts              0  0.0
12   TotBytes              0  0.0
13   SrcBytes              0  0.0
14      Label              0  0.0

In [60]:
# Cek Missing Data
total_missing = sensor3_test.isnull().sum().sort_values(ascending=False)
percent_1 = sensor3_test.isnull().sum()/sensor3_test.isnull().count()*100
percent_2 = (round(percent_1, 1)).sort_values(ascending=False)
missing_data = pd.concat([total_missing, percent_2], axis=1, keys=['Total Missing', '%'])
missing_data = missing_data.reset_index().rename(columns={'index': 'Column'})
missing_data

       Column  Total Missing    %
0       Dport            435  0.0
1       Sport            243  0.0
2       State              1  0.0
3   StartTime              0  0.0
4         Dur              0  0.0
5       Proto              0  0.0
6     SrcAddr              0  0.0
7         Dir              0  0.0
8     DstAddr              0  0.0
9        sTos              0  0.0
10       dTos              0  0.0
11    TotPkts              0  0.0
12   TotBytes              0  0.0
13   SrcBytes              0  0.0
14      Label              0  0.0

### Dport

In [61]:
sensor3_train['Dport'].value_counts()

Dport
53       1220778
80        467909
13363     318377
12114     185254
443       117676
          ...
24871          1
47080          1
58868          1
46898          1
10730          1
Name: count, Length: 47175, dtype: int64

In [62]:
cek = sensor3_train[sensor3_train['Dport'].isnull()]

In [63]:
cek['Label'].value_counts()

Label
1    1299
Name: count, dtype: int64

In [64]:
cek = sensor3_test[sensor3_test['Dport'].isnull()]

In [65]:
cek['Label'].value_counts()

Label
1    435
Name: count, dtype: int64

In [66]:
# Impute with modes
mode_value = sensor3_train[sensor3_train['Label'] == 1]['Dport'].mode()[0]

In [67]:
sensor3_train['Dport'] = sensor3_train['Dport'].fillna(mode_value)

sensor3_test['Dport'] = sensor3_test['Dport'].fillna(mode_value)

### Sport

In [68]:
sensor3_train['Sport'].value_counts()

Sport
13363     85007
12114     29940
13815      5198
123        4932
0x0303     4448
          ...
26489         1
239           1
27482         1
30939         1
21221         1
Name: count, Length: 64934, dtype: int64

In [69]:
cek = sensor3_train[sensor3_train['Sport'].isnull()]

In [70]:
cek['Label'].value_counts()

Label
1    736
Name: count, dtype: int64

In [71]:
cek = sensor3_test[sensor3_test['Sport'].isnull()]

In [72]:
cek['Label'].value_counts()

Label
1    243
Name: count, dtype: int64

In [73]:
# Impute with modes
mode_value = sensor3_train[sensor3_train['Label'] == 1]['Sport'].mode()[0]

In [74]:
sensor3_train['Sport'] = sensor3_train['Sport'].fillna(mode_value)

sensor3_test['Sport'] = sensor3_test['Sport'].fillna(mode_value)

### State

In [75]:
sensor3_train['State'].value_counts()

State
CON           1938201
FSPA_FSPA      414773
SRPA_FSPA       54261
SRPA_SPA        50183
FSA_FSA         37166
               ...
PA_                 1
NNS                 1
SPAEC_SRPA          1
IRQ                 1
SA_FR               1
Name: count, Length: 243, dtype: int64

In [76]:
cek = sensor3_train[sensor3_train['State'].isnull()]

In [77]:
cek['Label'].value_counts()

Label
1    9
Name: count, dtype: int64

In [78]:
cek = sensor3_test[sensor3_test['State'].isnull()]

In [79]:
cek['Label'].value_counts()

Label
1    1
Name: count, dtype: int64

In [80]:
# Impute with modes
mode_value = sensor3_train[sensor3_train['Label'] == 1]['State'].mode()[0]

In [81]:
sensor3_train['State'] = sensor3_train['State'].fillna(mode_value)
sensor3_test['State'] = sensor3_test['State'].fillna(mode_value)

In [82]:
# Cek Missing Data
total_missing = sensor3_train.isnull().sum().sort_values(ascending=False)
percent_1 = sensor3_train.isnull().sum()/sensor3_train.isnull().count()*100
percent_2 = (round(percent_1, 1)).sort_values(ascending=False)
missing_data = pd.concat([total_missing, percent_2], axis=1, keys=['Total Missing', '%'])
missing_data = missing_data.reset_index().rename(columns={'index': 'Column'})
missing_data

       Column  Total Missing    %
0   StartTime              0  0.0
1         Dur              0  0.0
2       Proto              0  0.0
3     SrcAddr              0  0.0
4       Sport              0  0.0
5         Dir              0  0.0
6     DstAddr              0  0.0
7       Dport              0  0.0
8       State              0  0.0
9        sTos              0  0.0
10       dTos              0  0.0
11    TotPkts              0  0.0
12   TotBytes              0  0.0
13   SrcBytes              0  0.0
14      Label              0  0.0

In [83]:
# Cek Missing Data
total_missing = sensor3_test.isnull().sum().sort_values(ascending=False)
percent_1 = sensor3_test.isnull().sum()/sensor3_test.isnull().count()*100
percent_2 = (round(percent_1, 1)).sort_values(ascending=False)
missing_data = pd.concat([total_missing, percent_2], axis=1, keys=['Total Missing', '%'])
missing_data = missing_data.reset_index().rename(columns={'index': 'Column'})
missing_data

       Column  Total Missing    %
0   StartTime              0  0.0
1         Dur              0  0.0
2       Proto              0  0.0
3     SrcAddr              0  0.0
4       Sport              0  0.0
5         Dir              0  0.0
6     DstAddr              0  0.0
7       Dport              0  0.0
8       State              0  0.0
9        sTos              0  0.0
10       dTos              0  0.0
11    TotPkts              0  0.0
12   TotBytes              0  0.0
13   SrcBytes              0  0.0
14      Label              0  0.0

In [84]:
sensor3_train.to_csv(dataset_dir + 'train3_clean.csv', index=False)

In [85]:
sensor3_test.to_csv(dataset_dir + 'test3_clean.csv', index=False)